table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
.product-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
